#list_videos {
  background: #000000;
  width: 100%;
  position: relative;
  height: 100%;
}
div.list-etudiants {
  background: #000000;
  width: 900px;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 100px;
}
div.list-etudiants ul.list-etudiants {
  list-style-type: none;
}
div.list-etudiants ul.list-etudiants li.etudiants {
  float: left;
  margin: 10px;
  border-bottom: 5px solid #fff;
  background-color: black;
  width: auto;
  height: 25px;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
div.list-etudiants ul.list-etudiants li.etudiants:hover {
  color: #d85424;
  border-color: #d85424;
}
