vendor/
composer.lock
.idea/.name
.idea/misc.xml
admin/.idea/scopes/scope_settings.xml
.idea/projet-cifacom.iml
.idea/modules.xml
.idea/vcs.xml
admin/.idea/encodings.xml
.idea/encodings.xml
admin/.idea/workspace.xml
admin/.idea/vcs.xml
admin/.idea/misc.xml
admin/.idea/admin.iml
admin/.idea/modules.xml
admin/.idea/.name
.idea/workspace.xml
.idea/scopes/scope_settings.xml
