{% extends 'ag_base/backend.html.twig' %}

{% block body_params %}class="skin-black"{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        <aside class="left-side sidebar-offcanvas" style="min-height: 100%;"></aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Réinitialiser le mot de passe
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-6">

                        <form method="POST" action="{{ path('user.forgot-password') }}">
                            <div class="box box-info">
                                <div class="box-header"></div>
                                <div class="box-body">

                                    {% if error %}
                                        <div class="alert alert-danger">{{ error|nl2br }}</div>
                                    {% endif %}

                                    <div class="form-group">
                                        <label class="required" for="inputEmail">Votre adresse email </label>
                                        <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}">
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Continuer</button>
                                    <a href="{{ path('user.login') }}" style="margin-left: 10px;">Retour page connexion</a>
                                </div>

                            </div>
                        </form>



                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
